
body {
    font-family: Arial, sans-serif;
    background: rgb(81, 154, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(133, 167, 206);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(186, 25, 95);;
    text-align: center;
}

.input-container {
    margin-bottom: 40px;
}

input {
    padding: 15px;
    width: 200px;
    border: px solid lightgray;
    border-radius: 14px;
}

button {
    padding: 15px;
    border: none;
    background: royalblue;
    color: white;
    border-radius: 14px;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}

#weatherData {
    margin-top: 20px;
}

.weather-info {
    margin-bottom: 10px;
}